<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="isSidebarOpen" class="sidenav">
    <div class="profile-section">
      <h3>Nombre de Usuario</h3>
    </div>
    <mat-divider></mat-divider>
    <button mat-button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
  
  