.sidenav-container {
  margin: 10px;
  height: 55vh;
  color: white;
  font-family: "Comme", sans-serif;
}

.sidenav {
  width: 220px;
  max-height: 500px;
  background-color: #053C5E;
  color: white;
  border-radius: 50px;

}

.profile-section {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.logout-button {
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
}


mat-sidenav-content {
  padding: 1px;
  width: 50px;
  color: rgb(0, 0, 0);
}


mat-sidenav-container{
  width: 300px;
  background-color: hsla(0, 0%, 100%, 0);

}

.mat-sidenav {
  width: 200px;   
}

