<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<body>
  <app-header-home></app-header-home>
  <app-sidebar></app-sidebar>

  <div class="product-gallery">
    <h2>PRODUCTOS</h2>
    <div class="content">
      <input type="text" placeholder="Nombre" [(ngModel)]="nameSearch" />
      <input type="text" placeholder="Categoria" [(ngModel)]="categorySearch" />
      <input
        type="number"
        placeholder="Precio máximo"
        [(ngModel)]="priceSearch"
      />
      <button (click)="onSearchByName()">Buscar</button>
      <div class="product-container">
        <div *ngFor="let product of products()" class="product-card">
          <h3>{{ product.nombre }}</h3>
          <p>{{ product.descripcion }}</p>
          <p>Precio: ${{ product.precio }}</p>
          <p>Cantidad: {{ product.cantidad }}</p>

          <img
            [src]="product.imagen"
            alt="{{ product.nombre }}"
            class="product-image"
          />

          <div class="action-buttons">
            <button class="edit-button" (click)="onEditProduct(+product.id!)">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button
              class="delete-button"
              (click)="onDeleteProduct(+product.id!)"
            >
              <i class="fas fa-trash"></i> Eliminar
            </button>
          </div>
        </div>
      </div>

      <ng-template #noProducts>
        <p>No hay productos disponibles.</p>
      </ng-template>
    </div>
  </div>
</body>
