<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<body>
  <app-header-home></app-header-home>
  <app-sidebar ></app-sidebar>

  <h2 class="title_products">PRODUCTOS</h2>
  <h3 class="title_search">Buscador</h3>
  <div class="content">
    <input type="text" placeholder="Nombre" [(ngModel)]="nameSearch" />
    <select [(ngModel)]="categorySearch" class="form-control" placeholder="Categoria">
      <option value="" selected>Seleccionar categoría</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
    
    <input
      type="text"
      placeholder="Precio máximo"
      [(ngModel)]="priceSearch"
    />

    <button class="button-search" (click)="onSearchByName()">
      <i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
  </div>

  <div class="product-gallery">
      <div class="product-container">
        <div *ngFor="let product of products()" class="product-card">
          <h3>{{ product.nombre }}</h3>
          <p>{{ product.descripcion }}</p>
          <p>Precio: ${{ product.precio }}</p>

          <img
            [src]="product.imagen"
            alt="{{ product.nombre }}"
            class="product-image"
          />

          <div class="action-buttons">
            <button class="edit-button" (click)="onEditProduct(+product.id!)">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button
              class="delete-button"
              (click)="onDeleteProduct(+product.id!)"
            >
              <i class="fas fa-trash"></i> Eliminar
            </button>
            <button
            class="view-button"
            (click)="onView(product)"
          >
          <i class="fa-solid fa-eye"></i> Ver
          </button>
          </div>
      </div>

      <ng-template #noProducts>
        <p>No hay productos disponibles.</p>
      </ng-template>
    </div>
  </div>
</body>
