<app-header-home></app-header-home>
<app-sidebar></app-sidebar>
<div class="container-4">
  <div class="form-product">
    <h2>Crear Producto</h2>
    <br />
    <p>Ingresa el nombre del producto</p>
    <input type="text" [(ngModel)]="name" placeholder="..." />
    <p>Ingresa la categoría del producto</p>
    <input type="text" [(ngModel)]="category" placeholder="..." />
    <p>Ingresa la descripcion del producto</p>
    <input type="text" [(ngModel)]="description" placeholder="..." />
    <p>Ingresa el precio</p>
    <input type="number" [(ngModel)]="price" />
    <p>Ingresa la cantidad</p>
    <input type="number" [(ngModel)]="quantity" />
    <p>Ingresa la imagen del producto</p>
    <input type="file" (change)="onFileChange($event)" />
    <div>
      <a (click)="onClick($event)" class="primary">Crear</a>
    </div>
  </div>

  <div class="imageUploaded">
    <h1>Imagen Seleccionada</h1>
    <img [src]="uploadedUrl" />
  </div>
</div>
